<!-- <router-outlet></router-outlet> -->

<img src="https://deco.housefun.com.tw/Article_OldUploadCT/%E5%B9%B3%E9%9D%A2%E5%9C%96.jpg" style="width: 800px;">

<app-h5-display-view style="width: 100%; height: 100%; position: fixed; left: 0px; top: 0px;">
</app-h5-display-view>
<app-iframe-view style="width: 100%; height: 100%; position: fixed; left: 0px; top: 0px;">
</app-iframe-view>
<app-pixi-control-view style="width: 100%; height: 100%; position: fixed; left: 0px; top: 0px;">
</app-pixi-control-view>

<app-setting-view></app-setting-view>
